body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  transition-property: opacity, transform;
  transition-duration: 0.35s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

fieldset {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.input-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.301);
}

.row-last {
  border-bottom: none;
}

label {
  width: 15%;
  min-width: 70px;
  padding: 11px 0;
  color: #c4f0ff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.checkout {
  background-color: #6772e5;
  width: 100%;
  height: 100vh;
  padding-top: 150px;
}

.person_card_info {
  border: none;
  width: 100%;
  padding: 16px 15px 16px 0;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
  font-size: 16px;
}

.btn__checkout {
  display: block;
  width: 100%;
  max-width: 469px;
  height: 40px;
  margin: 0 auto;
  border: none;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.StripeElement {
  padding: 16px 10px 16px 10px;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.StripeElement--invalid {
  border: 1px solid red;
}

/* .StripeElement--focus {
  border: 1px solid green;
} */

.StripeElement--complete {
  color: green;
}

.mt-100 {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 12.622px 12.829px 114px 0px rgba(48, 52, 73, 0.13);
}

.pricing {
  padding: 100px 0;
  background: #fafafa6c;
  height: 100vh;
  background-size: cover;
  background-position: center;

  @media (max-width: 992px) {
    margin: 0;
    padding-top: 35px;
  }
}

.herizontal-line {
  border-left: 1px solid #4b4b4b21;
  border-right: 1px solid #4b4b4b21;
}

.pricing__box {
  max-width: 345px;
  height: 425px;
  margin: 0 auto;
}

.pricing__box--active {
  box-shadow: 12.622px 12.829px 114px 0px rgba(48, 52, 73, 0.13);
}

.pricing__price {
  color: #404355;
  font-size: 50px;
}

.pricing__price--active {
  color: #ff6866;
}

.pricing__period {
  color: #1e3bb2;
  font-size: 9px;
  transform: translateY(-20px);
}

.btn-main {
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: rgb(255, 104, 102);
  width: 179px;
  height: 54px;

  @media (max-width: 576px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.pall-35 {
  padding: 35px;
}

.btn-main--pricing {
  border-width: 1px;
  border-color: rgb(229, 229, 235);
  border-style: solid;
  border-radius: 4px;
  width: 177px;
  height: 52px;
  color: #8491ae;
  background: transparent;
}

.btn-main--pricing:hover {
  background-color: rgb(255, 104, 102);
  color: #fff;
}