body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.checkout {
  background-color: #6772e5;
  width: 100%;
  height: 100vh;
  padding-top: 150px;
}

.StripeElement {
  padding: 16px 10px 16px 10px;
  color: #fff;
  background-color: transparent;
  -webkit-animation: 1ms void-animation-out;
}

.StripeElement--invalid {
  border: 1px solid red;
}

/* .StripeElement--focus {
  border: 1px solid green;
} */

.StripeElement--complete {
  color: green;
}

.mt-100 {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 12.622px 12.829px 114px 0px rgba(48, 52, 73, 0.13);
}

.pricing {
  padding: 100px 0;
  background: #fafafa6c;
  height: 100vh;
  background-size: cover;
  background-position: center;

  @media (max-width: 992px) {
    margin: 0;
    padding-top: 35px;
  }
}

.herizontal-line {
  border-left: 1px solid #4b4b4b21;
  border-right: 1px solid #4b4b4b21;
}

.pricing__box {
  max-width: 345px;
  height: 425px;
  margin: 0 auto;
}

.pricing__box--active {
  box-shadow: 12.622px 12.829px 114px 0px rgba(48, 52, 73, 0.13);
}

.pricing__price {
  color: #404355;
  font-size: 50px;
}

.pricing__price--active {
  color: #ff6866;
}

.pricing__period {
  color: #1e3bb2;
  font-size: 9px;
  transform: translateY(-20px);
}

.btn-main {
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: rgb(255, 104, 102);
  width: 179px;
  height: 54px;

  @media (max-width: 576px) {
    width: 100%;
    margin-bottom: 20px;
  }
}

.pall-35 {
  padding: 35px;
}

.btn-main--pricing {
  border-width: 1px;
  border-color: rgb(229, 229, 235);
  border-style: solid;
  border-radius: 4px;
  width: 177px;
  height: 52px;
  color: #8491ae;
  background: transparent;
}

.btn-main--pricing:hover {
  background-color: rgb(255, 104, 102);
  color: #fff;
}
